

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    background-color:  #161616;
    text-align: center;
    color: #ffffff
    

}


.one
{
    background-color: #0da011;
    height: 17vh;
}


  .container
  {
    position: relative;
    bottom: 60px;
  }
  

img
{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     border-radius: 50%;
     position: relative;
    bottom: 90px;
 
}




.loc
{
    margin-bottom: 0;
    margin-top: -35px;
}

.add
{
    display: inline-block;
    letter-spacing: 1px;
    margin: -20px auto 30px auto;
    line-height: 1.5;
}


.aa:hover
{
    opacity: 0.5;
}

.container-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
    
   
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 100%;
    text-decoration: none;
    margin: 10px auto;
    border-radius: 5%;
    
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
  }
  
  

  .fa-linkedin {
    background: #007bb5;
  }
  
  
  
  .fa-instagram {
    background: #125688;
  }


 .fa-whatsapp
 {
    background: #39a54d;
 }
 

 
 .motto
 {
    
    font-size: 16px;
    padding-bottom: 15px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
  
   
    
 }

 a
 {
    text-decoration: none;
    color: white;
    
 }
 

 .contact
 {
    margin: 10px;
 }

.CALL
{
   
    background: black;
    border-radius: 9px;
    font-family: Georgia;
    font-size: 15px;
    padding: 3.5px 7px 3.5px 7px;
    text-decoration: none;
    margin: auto 20px;
    cursor: pointer;
    width: 80px;
  
}

.CALL:hover
{
    opacity: 0.8;
    background: #4c4c54;
    text-decoration: none;
}



.EMAIL
{
    background: black;
    border-radius: 9px;
    font-family: Georgia;
    font-size: 15px;
    padding: 3.5px 7px 3.5px 7px;
    text-decoration: none;
    cursor: pointer;
}

.EMAIL:hover
{
    opacity: 0.8;
    background: #4c4c54;
    text-decoration: none;
}







 footer
{
  font-size: 0.50rem;
  padding: 5px 0;
}


@media (min-width:640px)

{
    img
    {
        max-width: 17%;
    }
}
