@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
}

.one {
  background-color: #0da011;
  height: 17vh;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  max-width: 100%;
  position: relative;
  bottom: 70px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loc {
  text-align: center;
  margin-bottom: -40px;
  margin-top: -20px;
}

.add {
  display: inline-block;
  color: white;
  letter-spacing: 1px;
  margin: -20px auto 30px auto;
  line-height: 1.3;
}

.aa:hover {
  opacity: 0.5;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  border-radius: 5%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  max-width: 400px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-whatsapp {
  background: #39a54d;
  color: white;
}

.motto {
  color: white;
  text-align: center;
  max-width: 100%;
  font-size: 16px;
  padding-bottom: 15px;
  letter-spacing: 0.1px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.contact {
  text-align: center;
  margin: 10px;
}

.CALL {
  background: black;
  background-image: -webkit-linear-gradient(top, black, #050517);
  background-image: -moz-linear-gradient(top, black, #050517);
  background-image: -ms-linear-gradient(top, black, #050517);
  background-image: -o-linear-gradient(top, black, #050517);
  background-image: linear-gradient(to bottom, black, #050517);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 3.5px 7px 3.5px 7px;
  text-decoration: none;
  margin: auto 20px;
  cursor: pointer;
  width: 80px;
}

.CALL:hover {
  opacity: 0.8;
  background: #4c4c54;
  background-image: -webkit-linear-gradient(top, #4c4c54, #8888ad);
  background-image: -moz-linear-gradient(top, #4c4c54, #8888ad);
  background-image: -ms-linear-gradient(top, #4c4c54, #8888ad);
  background-image: -o-linear-gradient(top, #4c4c54, #8888ad);
  background-image: linear-gradient(to bottom, #4c4c54, #8888ad);
  text-decoration: none;
}

.EMAIL {
  background: black;
  background-image: -webkit-linear-gradient(top, black, #050517);
  background-image: -moz-linear-gradient(top, black, #050517);
  background-image: -ms-linear-gradient(top, black, #050517);
  background-image: -o-linear-gradient(top, black, #050517);
  background-image: linear-gradient(to bottom, black, #050517);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 3.5px 7px 3.5px 7px;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  text-align:center;
}

.EMAIL:hover {
  opacity: 0.8;
  background: #4c4c54;
  background-image: -webkit-linear-gradient(top, #4c4c54, #8888ad);
  background-image: -moz-linear-gradient(top, #4c4c54, #8888ad);
  background-image: -ms-linear-gradient(top, #4c4c54, #8888ad);
  background-image: -o-linear-gradient(top, #4c4c54, #8888ad);
  background-image: linear-gradient(to bottom, #4c4c54, #8888ad);
  text-decoration: none;
}

.a:hover {
  color: rgb(209, 209, 209);
}

.bottom-container {
  padding: 0;
  position: absolute;
  bottom: -270px;
  font-size: 0.6rem;
}

.end {
  color: #eaf6f6;
  font-size: 0.5rem;
  padding: 5px 0;
}

@media (min-width: 640px) {
  img {
    max-width: 17%;
  }
}
